<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quick Quiz - Play</title>
  <link rel="stylesheet" href="/static/{{style}}">
</head>

<body>
  {{>userprofile}}
  <i id="levelNum" style="display: none;">2</i>
  <div id="loading"
    style="z-index: 150;position: absolute;width: 100vw;height: 100vh;background-color: burlywood;justify-content: center;">
    <h2>Loading...</h2>
  </div>
  <div id="lostMessage">
    <span id="message">Game Over</span>
    <span id="postScore">Score: 0</span>
    <span id="nextButton">Continue</span>
    <span id="restartButton">Restart</span>
  </div>
  <div class="container" id="container">

    <div id="game" class="justify-center flex-column">
      <h2 id="progressText" class=" heading">Question</h2>

      <div id="hud">
        <div id="hud-item">
          <div class="timer">
            <span>
              <h2 id="timer"></h2>
            </span>
          </div>

          <div id="progressBar">
            <div id="progressBarFull"></div>
          </div>
        </div>
        <div id="hud-item">
          <p class="hud-prefix">Attempts</p>
          <h1 class="hud-main-text" id="attempts">3</h1>
        </div>
        <div id="hud-item">
          <p class="hud-prefix">Score</p>
          <h1 class="hud-main-text" id="score">0</h1>
        </div>
      </div>
      <h2 id="question">What is the answer to this questions?</h2>
      <div class="choice-container">
        <p class="choice-prefix">A</p>
        <p class="choice-text" data-number="1">Choice 1</p>
      </div>
      <div class="choice-container">
        <p class="choice-prefix">B</p>
        <p class="choice-text" data-number="2">Choice 2</p>
      </div>
      <div class="choice-container">
        <p class="choice-prefix">C</p>
        <p class="choice-text" data-number="3">Choice 3</p>
      </div>
      <div class="choice-container">
        <p class="choice-prefix">D</p>
        <p class="choice-text" data-number="4">Choice 4</p>
      </div>
    </div>
  </div>
  <canvas id="renderer"></canvas>
  <script type="module" src="/scripts/3game.js"></script>
</body>

</html>
