<div class="form">

  {{#if error class="error"}}
  <div class="form-dsp-error">
    {{!-- add error icon --}}
    <i class="fa fa-xmark"></i>
    <span class="fa fa-error">{{error}}</span>
  </div>
  {{/if}}

  <div class="title">
    R<span id="highlight">e</span>gister
  </div>

  <form action="/users/register" method="POST">
    <div class="input-container ic1">
      <input id="email" class="input" name="email" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="email" class="placeholder">Email</label>
    </div>

    <div class="input-container ic2">
      <input id="username" class="input" name="username" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="username" class="placeholder">Username</label>
    </div>

    <div class="input-container ic2">
      <input id="password" class="input" name="password" type="password" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="password" class="placeholder">Password</label>
    </div>

    <div class="submit">
      <button type="submit" class="submit">
        <span>Register</span>
        <div class="liquid"></div>
      </button>
    </div>
  </form>


  <div class="have-account">
    Already have an account?
    <a href="login">
      <span id="highlight">Login</span>
    </a>
  </div>

</div>
