<link rel="stylesheet" href="/static/moreinfo.css">
<script src="/scripts/moreinfo.js"></script>
<div class="bg"></div>
<section>
  <h2>Home page</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Etiam tempor orci eu lobortis elementum. Etiam tempor orci eu lobortis. Sed faucibus turpis in eu mi
    bibendum neque. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Cursus vitae congue
    mauris rhoncus. Id neque aliquam vestibulum morbi blandit cursus risus. Sem et tortor consequat id porta. Elementum
    curabitur vitae nunc sed velit dignissim. Ac tincidunt vitae semper quis lectus nulla at volutpat. Ac turpis egestas
    integer eget. Est velit egestas dui id ornare arcu. Tincidunt augue interdum velit euismod in pellentesque massa
    placerat duis. Lorem dolor sed viverra ipsum. Neque viverra justo nec ultrices dui sapien eget mi. Amet consectetur
    adipiscing elit ut aliquam purus sit amet. Mi eget mauris pharetra et ultrices neque ornare aenean euismod. Risus in
    hendrerit gravida rutrum quisque non tellus. Faucibus interdum posuere lorem ipsum dolor sit amet. Magna sit amet
    purus gravida quis blandit.</p>
  <p>We offer the following services:</p>
  <ul>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>
    <li>aa</li>

  </ul>
  <h3>Sub page</h3>
  <p> hendrerit gravida rutrum quisque non tellus. Faucibus interdum posuere lorem ipsum dolor sit amet. Magna sit amet:
  </p>
  <img src="http://lorempixum.com/500/600" />
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Etiam tempor orci eu lobortis elementum. Etiam tempor orci eu lobortis. Sed faucibus turpis in eu mi
    bibendum neque. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Cursus vitae congue
  </p>
  <p>hendrerit gravida rutrum quisque non tellus. Faucibus interdum posuere lorem ipsum dolor sit amet. Magna sit amet
  </p>

</section>
