{{> infoHeader}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body class="h-screen overflow-auto overscroll-contain">
  {{!-- <section class="bg-gray-900 text-white" style="height: 100vh;"> --}}
    {{!-- section needs to cover entire page --}}
    <section class="bg-gray-900 text-white h-full overflow-auto	overscroll-contain">
      <div class="  overflow-auto	overscroll-contain">
        <div class="mx-auto max-w-3xl text-center overflow-auto overscroll-contain">
          <br><br><br>
          <h2
            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl h-full overflow-auto ">
            {{name}}

            <span class="sm:block"> Module </span>
          </h2>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed">

            The city is experiencing a massive brute force attack on the cursor e-commerce platform. Millions of
            customers
            are affected. Customers used the same password across multiple platforms and a lot of them used weak
            password
            that were easily guessed.
            Brute force attack is a type of cyberattack where attackers guess the password to gain access to personal
            accounts of users. They use a lot of sophisticated software and tools to do the guesswork for them quickly
            and
            efficiently.

          </p>


          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed">
            <b style="color: #fcd34d">Why brute force attack?</b>


            Cybercriminals may have several different motivations for enacting brute force attacks. The potential for
            personal profit or gain are the primary ones, but here are a few more ways hackers can make these attacks
            pay off.
            <br /> <br />
            <b style="color: #10b981">Exploit advertisements and data:</b>

            If a hacker gains access to a website, they can profit by placing spam ads or rerouting traffic to their own
            advertisements to gain commission. They can also collect and sell private data to third parties or data
            brokers or sell personal information on the dark web.
            <br /> <br />

            <b style="color: #10b981">Personal data theft:</b>
            All it takes is the right stolen personal and financial credential and an attacker could steal your
            identity, gain access to your bank account, and commit credit card fraud.

            <br /> <br />
            <b style="color: #10b981">Spread malware:</b>
            Hackers may place malicious software on hacked sites that can spread to computers once someone enters the
            site. Once downloaded, malware can collect even more private data, hold files for ransom, hijack your
            internet session.
            <br /> <br />

            <b style="color: #10b981">Wreck website reputations:</b>
            Cybercriminals may ruin websites for personal gain or for practicing their attacks. This can include putting
            offensive materials on your site. If you’re unable to remove the offensive content, your website’s
            reputation could be destroyed and very hard to recover from.


          </p>




          <div class="mt-8 flex flex-wrap justify-center gap-4">
            <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-sky-400/100" style="margin-top: 20px;">
              You are tasked with preventing such attacks from occurring. But first, you need to learn some basics of
              brute force attacks.
            </p>

            <a href="/game/bruteforce">
              <button class="cybr-btn">
                Play
                <span class="cybr-btn__glitch">Play_</span>
              </button>
            </a>

            {{!-- INFO page --}}

          </div>
          <br><br><br>
          <span class="hscroll-line"></span>
        </div>
      </div>
    </section>

</body>

</html>
