<div class="home">
  {{!-- <div class="register">
    {{> userprofile}}
  </div> --}}

  <h1 class="title">
    <span id="highlight">{{module}}</span>INFO
  </h1>

  <h2 class="subtitle">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, aliquam? Laboriosam iste itaque laborum blanditiis eum cum voluptate alias, tenetur corporis temporibus incidunt vel mollitia velit voluptas et possimus molestiae.
  </h2>

  <a href="/game/bruteforce">
    <button class="cybr-btn">
      Play
      <span class="cybr-btn__glitch">Play_</span>
    </button>
  </a>


  {{!-- <a id="scroll-down-title">Cybersecurity Gamified</a>
  <a id="scroll-down-subtitle">Learn More</a> --}}
  <span class="hscroll-line"></span>

</div>

{{!-- INFO page --}}
{{!-- <div class="info">

</div> --}}
