<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Congrats!</title>
  <link rel="stylesheet" href="/static/{{style}}" />
</head>

<body>
  <div class="container">
    <div id="end" class="flex-center flex-column">
      {{>userprofile}}
      <h1 id="finalScore"></h1>
      <a class="btn" href="/game/ransomeware/highscore">Leaderboard</a>
      <a class="btn" href="/game/ransomeware">Play Again</a>
      <a class="btn" href="/">Go Home</a>
    </div>
  </div>
  <script src="/scripts/{{script}}"></script>

</body>

</html>
