{{> infoHeader}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body class="h-screen overflow-auto overscroll-contain">
  {{!-- <section class="bg-gray-900 text-white" style="height: 100vh;"> --}}
    {{!-- section needs to cover entire page --}}
    <section class="bg-gray-900 text-white h-full overflow-auto	overscroll-contain">
      <div class="  overflow-auto	overscroll-contain">
        <div class="mx-auto max-w-3xl text-center overflow-auto overscroll-contain">
          <br><br><br>
          <h2
            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl h-full overflow-auto ">
            {{name}}

            <span class="sm:block"> Module </span>
          </h2>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-left">
            <br> <br>

            Ransomware is a sort of malware attack in which the attacker locks and encrypts the victim's data, critical
            files, and then demands money in exchange for the decryption and unlocking of the data.
            This kindattack infects the victim's device, which can be a computer, printer, smartphone, wearable
            device, point-of-sale (POS) terminal, or other endpoint, by taking advantage of human, system, network, and
            software vulnerabilities.

            <br><br>
          <h4 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">
            What is Ransomware?
          </h4>
          </p>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-left">

            The city is experiencing a massive brute force attack on the cursor e-commerce platform. Millions of
            customers
            are affected. Customers used the same password across multiple platforms and a lot of them used weak
            password
            that were easily guessed.
            Brute force attack is a type of cyberattack where attackers guess the password to gain access to personal
            accounts of users. They use a lot of sophisticated software and tools to do the guesswork for them quickly
            and
            efficiently.

          </p>
          <br><br>
          <h4 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">
            Types of Ransomware
          </h4>
          <br><br>
          </p>



          <h5 class="font-large leading-tight text-xl mt-0 mb-2 text-purple-600">1) WannaCry</h5>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-left">
            WannaCry is an entry-level ransomware that uses a flaw in the Windows SMB protocol to infect other computers
            and features a self-propagation mechanism. It is not obscured and is rather simple to find and get rid of.
            In 2017, WannaCry spread quickly across 150 countries, inflicting damage on 230,000 systems that was
            estimated to be worth $4 billion.
          </p>

          <h5 class="font-large leading-tight text-xl mt-0 mb-2 text-purple-600">2) Cerber</h5>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-left">
            Cybercriminals can utilize Cerber, which is ransomware-as-a-service (RaaS), to launch assaults and
            disseminate their loot alongside the malware creator. In order to prevent users from reinstalling the
            operating system, Cerber runs invisibly while encrypting files and may attempt to stop antivirus and Windows
            security features from functioning. When it successfully encrypts files on the computer, a ransom notice
            appears as the desktop background.
          </p>

          <h5 class="font-large leading-tight text-xl mt-0 mb-2 text-purple-600">3) Locky</h5>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-left justify-left">
            Locky can encrypt 160 different file formats, mostly those used by designers, engineers, and testers. It was
            originally made available in 2016. It is primarily spread through exploit kits or phishing, in which
            attackers send emails urging recipients to download dangerous macro-filled Microsoft Office Word or Excel
            documents or ZIP files that automatically install malware upon extraction.
          </p>

          <div class="mt-8 flex flex-wrap justify-center gap-4">

            <a href="/game/ransomeware">
              <button class="cybr-btn">
                Play
                <span class="cybr-btn__glitch">Play_</span>
              </button>
            </a>

            {{!-- INFO page --}}

          </div>
          <br><br><br>
          <span class="hscroll-line"></span>
        </div>
      </div>
    </section>

</body>

</html>
