<div class="banner">
  <div class="banner-text">
    <h1>
      milestones
    </h1>
  </div>
  {{> userprofile}}
</div>
<div class="container">
  <div class="card card1" id="b1">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/4024/4024675.png" id="icon1">
    </div>
    <div class="contentBx">
      <h2>Ransomware</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="/game/ransomeware/info">Play Now</a>
    </div>
  </div>


  <div class="card card2" id="b2">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/2471/2471489.png" id="icon2">
    </div>
    <div class="contentBx">
      <h2>Session Hijacking</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="/game/sessionhijacking/info">Play Now</a>
    </div>
  </div>


  <div class="card card3" id="b3">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/8046/8046436.png" id="icon3">
    </div>
    <div class="contentBx">

      <h2>Trojan Horses</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="#">Play Now</a>
    </div>
  </div>


  <div class="card card4" id="b4">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/6689/6689968.png" id="icon4">
    </div>
    <div class="contentBx">
      <h2>Brute force attack</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="#">Play Now</a>
    </div>
  </div>
</div>


<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')">
    </div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')">
    </div>
  </div>
</div>
