<div class="banner">
  <div class="banner-text">
    <h1 class="banner-title">
      milestones
    </h1>

  </div>

</div>
<div class="container">
  <div class="card card1" id="b1">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/4024/4024675.png" id="icon1">
    </div>
    <div class="contentBx">
      <h2>Ransomware</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="/game/ransomeware">Play Now</a>
    </div>
  </div>


  <div class="card card2" id="b2">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/2471/2471489.png" id="icon2">
    </div>
    <div class="contentBx">
      <h2>Session Hijacking</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="#">Play Now</a>
    </div>
  </div>


  <div class="card card3" id="b3">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/8046/8046436.png" id="icon3">
    </div>
    <div class="contentBx">

      <h2>Trojan Horses</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="#">Play Now</a>
    </div>
  </div>


  <div class="card card4" id="b4">
    <div class="imgBx">
      <img src="https://cdn-icons-png.flaticon.com/512/6689/6689968.png" id="icon4">
    </div>
    <div class="contentBx">
      <h2>Brute force attack</h2>
      <p class="desc">Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
        Quisquam, quae.</p>
      </p>
      <a href="#">Play Now</a>
    </div>
  </div>





</div>
