<div class="home">
  <div class="register">
    <a href="users/register">
      <i class="fa fa-user-circle"></i>
    </a>
  </div>

  <h1 class="title">
    3XPL<span id="highlight">></span>IT
  </h1>

  <h2 class="subtitle">
    CURS<span id="highlight">></span>R CITY
  </h2>

  <a href="users/register">
    <button class="cybr-btn">
      Play
      <span class="cybr-btn__glitch">Play_</span>
    </button>
  </a>


  <a id="scroll-down-title">Cybersecurity Gamified</a>
  <a id="scroll-down-subtitle">Learn More</a>
  <span class="hscroll-line"></span>

</div>

{{!-- INFO page --}}
<div class="info">





</div>
