{{> infoHeader}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body class="h-screen overflow-auto overscroll-contain">
  {{!-- <section class="bg-gray-900 text-white" style="height: 100vh;"> --}}
    {{!-- section needs to cover entire page --}}
    <section class="bg-gray-900 text-white h-full overflow-auto	overscroll-contain">
      <div class="  overflow-auto	overscroll-contain">
        <div class="mx-auto max-w-3xl text-center overflow-auto overscroll-contain">
          <br><br><br>
          <h2
            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl h-full overflow-auto ">
            {{name}}

            <span class="sm:block"> Module </span>
          </h2>

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed">

            Attackers used a trojan horse to attack the city's bank. You are tasked to understand the concept of trojan
            horse and answer questions to save the city from harm.
            Since their creation, Trojans have developed into different types: backdoor, exploit, rootkit, DDoS,
            downloader, ransom, banking... The list goes on and on.
            A backdoor Trojan can give malicious attackers remote access to a victim's device so that they can control
            it for their own benefit.

          <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed text-sky-400/100" style="margin-top: 20px;">
            You are tasked with preventing such attacks from occurring. But first, you need to learn some basics of
            brute force attacks.
          </p>
          <br>

          An exploit Trojan is designed to sniff out vulnerabilities on a device so that it can be more easily
          attacked. Security vulnerabilities are incredibly common, so this kind of Trojan can take advantage of
          such
          flaws and bugs to access the target computer. If a computer isn't using any kind of antivirus software,
          it's
          also more vulnerable to being targeted by exploit Trojans.
          <br>
          Rootkit Trojan can give attackers access to the target device by hiding its presence from malware
          detection
          tools. This allows the threat actor to extend the period over which the Trojan is present on a given
          device.
          <br>
          Downloader Trojans are programs that can download themselves onto a target device and remain dormant until
          an internet connection is established. Once this happens, the downloader Trojan can install additional
          malicious programs onto the infected device to facilitate more cyberattacks.
          <br>
          Ransom Trojans are used to deploy ransomware. In ransomware attacks, a threat actor will encrypt all the
          data on the infected device and demand a ransom in exchange for the decryption key. The ransom is usually
          a
          large sum of money.
          <br>
          Banker Trojans is another type of malware that focuses on stealing banking information, such as payment
          details, account numbers, and other precious data, since they are highly valuable in the cybercrime space.
          Such information can either be used directly by the attacker to steal funds or can be sold for hundreds or
          even thousands of dollars on dark web. These malware programs are used to steal financial data from online
          accounts so that they can be exploited for financial gain.
          <br> <br> <br>
          <h2
            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-bold text-transparent sm:text-5xl h-full overflow-auto ">
            Remote Access trojan Attacks
          </h2>

          Remote access trojans gives an attacker complete remote control over your computer and they can do
          whatever
          they please remotely without you ever being aware of it.
          An attacker can get full administrative control of the target computer with the help of a remote access
          trojan program. As a result, the attacker can easily
          <li>Install ransomware or other malware programs on your computer.</li>
          <li>Read, download, delete, edit or implant data on your system for their gain.</li>
          <li>Take control of your webcam and microphone.</li>
          <li>Steal confidential information such as usernames, passwords, and credit card information.</li>
          <li>Take screenshots of your computer screen remotely.</li>
          </p>

          <div class="mt-8 flex flex-wrap justify-center gap-4">


            <a href="/game/trojanhorse">
              <button class="cybr-btn">
                Play
                <span class="cybr-btn__glitch">Play_</span>
              </button>
            </a>

            {{!-- INFO page --}}

          </div>
          <br><br><br>
          <span class="hscroll-line"></span>
        </div>
      </div>
    </section>

</body>

</html>
