@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body {
    margin:0;
    padding: 0;
  }

.gameModule {
    background-image: url("/images/GameModule.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 0.5rem #000;
}

.heading{
    position: absolute;
    top: 0;
    width: max-content;
    height: 50;
    background-color: gray;
}
.title {
    font-size: 2;
    color: white;
    margin:5;
    font-family: 'Fredoka', sans-serif;
}
.titleScore {
    font-size: 2;
    color: white;
    margin-left: 500;
    margin-top: 5;
    margin-bottom: 5;
    margin-right: 5;
    font-family: 'Fredoka', sans-serif;
}

.body {
    font-size: 2rem;
    font-family: 'Fredoka', sans-serif;
    width: max-content;
    height: auto;
}
.rank {
    margin: 5, 10;
    font-weight: 500;
    color: yellow;

}
.time {
    margin: 5, 10;
    color: white;
}
.level {
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 10;
    margin-right: 10;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 0.5rem #000;
}

