<!--
<div class="modules">
  <img src="../../src/image/CleanShot 2022-06-20 at 00.04 1.png">
  <img
    src="..\src\image\CleanShot 2022-06-20 at 00.04 1.png"
    alt="">
  <img
    src="..\src\image\CleanShot 2022-06-20 at 00.07 1.png"
    alt="">
  <img
    src="..\src\image\CleanShot 2022-06-20 at 00.13 1.png"
    alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.14 1.png"
        alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.16 1.png"
        alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.17 1.png"
        alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.19 1.png"
        alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.04 2.png"
        alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.14 2.png"
        alt="">
    <img
        src="..\src\image\CleanShot 2022-06-20 at 00.17 2.png"
        alt="">

</div>
-->

<div>
    <table class="rank">
        <thead class="heading">
          <tr>
            <th>Rank</th>
            <th>Time</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          {{#each boards}}
            <tr>
                <td class="rank">{{inc @index}}</td>
                <td class="time">{{time}}</td>
                <td class="level">{{level}}</td>
            </tr>
            {{else}}
                <tr>
                <td colspan="4">No Data Available</td>
            </tr>
        {{/each}}
        </tbody>
      </table>

</div>
